h1 {
    font-size: 36px;
}

.align-center {
    text-align: center;
}

.light-green {
    background-color: #81C784;
}

.contact-card {
    width: 60%;
    margin: auto;
}

.mat-icon {
    color:  #AAAAAA;
}