<h1 style="text-align: center; font-size: 36px;">Contact Us</h1>
<br><br><br>

<div fxLayout="row wrap">


    <div fxFlex >
        
        <mat-card class="mat-elevation-z8 loan-card contact-card">
            <mat-card-title class="card-title-icon align-center">
                <mat-icon>navigation</mat-icon>
            </mat-card-title>
            <br>
            <mat-card-content class="align-center">
                <p>505 Main Street</p>
                <p>
                    Omaha, Nebraska
                </p>
                <br>
            </mat-card-content>
        </mat-card>
        </div>

        <div fxFlex>
            <mat-card class="mat-elevation-z8 loan-card contact-card" >
                <mat-card-title class="card-title-icon align-center">
                    <mat-icon>phone</mat-icon>
                </mat-card-title>

                <br>
                <mat-card-content class="align-center">
                    <p>
                        Direct: 555-555-5555
                    </p>
                    <p>
                        Toll Free: 1-888-555-5555
                    </p>
                    <p>
                        Fax: 555-555-5555
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
