<!--
    ========================================================================================================================
    ; Title: payment.component.html
    ; Author: Brett Grashorn
    ; Bellevue University
    ; Date: 7/23/23
    ; Description: Capstone
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 6.3 Layouts
    Instruction - Assignment 6.4 Input Properties
    Instruction - Exercise 7.3 Form Validation
    Course GitHub
    ========================================================================================================================
-->

<div>
    <div style="color: black; font-size: 28px;">Monthly Payment:</div>
    <br><br><br>
    <div>
        {{ "$ " + (payment | number : "1.2-2") }}
    </div>
    <!-- 1.2-2 makes it use 1-2 decimal pointss -->
    <br><br><br>
</div>
