<!--
    ========================================================================================================================
    ; Title: payment.component.html
    ; Author: Brett Grashorn
    ; Bellevue University
    ; Date: 7/23/23
    ; Description: Capstone
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 6.3 Layouts
    Instruction - Assignment 6.4 Input Properties
    Instruction - Exercise 7.3 Form Validation
    Course GitHub
    ========================================================================================================================
-->

<div>
    <div>Monthly Payment</div>
    <br><br><br>
    <div>
        {{ "$" + (payment | number : "1.2-2") }}
    </div>
    <br><br><br>
</div>
