<!--
    ========================================================================================================================
    ; Title: interest.component.html
    ; Author: Brett Grashorn
    ; Bellevue University
    ; Date: 7/23/23
    ; Description: Capstone
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 6.3 Layouts
    Instruction - Assignment 6.4 Input Properties
    Instruction - Exercise 7.3 Form Validation
    Course GitHub
    ========================================================================================================================
-->
<div>
    <div>Interest Paid:</div>
    <br><br><br>
    <div>
        {{ "$" + (interest | number : "1.2-2") }}
    </div>
    <br><br><br>
</div>