<!--
    ========================================================================================================================
    ; Title: about.component.html
    ; Author: Brett Grashorn
    ; Bellevue University
    ; Date: 7/23/23
    ; Description: Capstone
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 6.3 Layouts
    Instruction - Assignment 6.4 Input Properties
    Instruction - Exercise 7.3 Form Validation
    Course GitHub
    ========================================================================================================================
-->


<h1 style="text-align: center; font-size: 36px;">About Us</h1>
<br><br><br><br>


<div fxLayout="row wrap">

    <div fxFlex>
        <div fxLayout="column" style="padding-left: 200px; padding-right: 40px;">
        
        <p>House Slytherin at Hogwarts School of Witchcraft and Wizardry was founded by Salazar Slytherin. He valued particular characteristics in students, such as cunning, resourcefulness, leadership, and ambition. Many of the same traits as you are displaying by using this app. You are showing resourcefulness in using what is available to you and ambition by pursuing a goal and knowing what you need for it. <br>
            House Slytherin is represented by a Serpent. It is usually corresponded with the element of water since serpents can be seen as fluid and flexible animals. The colors of green and silver correspond with the waters around lakes and lochs. <br>
            Possibly the most famous Slytherin, and founder of this website, is Severus Snape. He began his time at Hogwarts in 1971, where he was originally sorted into the Slytherin House. There, Snape joined the Death Eaters, a comparable name to what it feels like taking out a loan these days. <br>
            You likely find yourself on this app today because you are ambitious, shrewd, cunning, and strong, with a heavy focus on your goals and achievements. You think before acting upon something so you can weigh all possible outcomes before coming to a decision. You also carry a certain disregard for some rules and wish to get things to work out just the way you want them. <br>
            With the ambitious nature of House Slytherin, the Loan App will get you the answers that you seek and help you plan out your future with accuracy and deadly precision. </p>
        </div>
    </div>

    <div fxFlex>
        <img class="about-image" src="./assets/slytherin.jpg">
    </div>
</div>
