<h1 style="text-align: center;">About Us</h1>
<br><br><br><br>


<div fxLayout="row wrap">

    <div fxFlex>
        <div fxLayout="column">
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Suscipit adipiscing bibendum est ultricies integer quis auctor elit. Viverra justo nec ultrices dui sapien eget mi proin. Consequat nisl vel pretium lectus quam id leo. Tellus id interdum velit laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Enim nulla aliquet porttitor lacus luctus accumsan. Neque laoreet suspendisse interdum consectetur libero. Scelerisque purus semper eget duis at tellus.</p>
        </div>
    </div>

    <div fxFlex>
        <img class="about-image" src="../assets/calculator-one.png">
    </div>
</div>