/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color:  #5D5D5D; }

.app-background {
    background-color: #81C784;
}

.loan-card {
    background-color: #1B5E20;
}

