

.mat-card-title {
    text-align: center;
    font-size: 36px;
}

.money {
    text-align: center;
    font-size: 32px;
}

input {
    line-height: 3;
    width: 100%;
    background-color: #81C784;
    
}

button {
    line-height: 2;
    background-color: #81C784;
}

.calc-card {
    width: 40%;
    float: left;
    background-color: #1B5E20;
    margin-left: 5%;
}

.results-card {
    width: 40%;
    float: right;
    background-color: #1B5E20;
   margin-right: 5%;
}


.loan-form {    
    text-align: center;
}
