.loan-card {
    width: 60%;
    margin: auto;
    background-color: #1B5E20;
    color:   #AAAAAA;
}

.mat-card-title {
    text-align: center;
    font-size: 36px;
}

.money {
    text-align: center;
    font-size: 32px;
}

input {
    line-height: 2;
    width: 50%;
    background-color: #81C784;
    
}

button {
    line-height: 2;
    background-color: #81C784;
}