<!-- <div fxLayout="row wrap" fxLayoutGap="20px"> 
    <div fxFlex>
     <mat-card class="mat-elevation-z8 loan-card" >
         <mat-card-title>Loan Calculator</mat-card-title>
         <br><br>
         <mat-card-content>
             <form action="" fxLayout="column">
                 <mat-label>Loan Amount</mat-label>
                 <mat-form-field fxFlex appearance="fill">
                     <mat-label>Loan Amount:</mat-label>
                     <input type="text" name="amount" id="amount" required matInput formControlName="amount" placeholder="ex: 10000">
                 </mat-form-field>
                 <mat-label>Interest Rate:</mat-label>
                 <mat-form-field fxFlex appearance="fill">
                     
                   <input type="text" name="interest" id="interest" required matInput formControlName="interest" placeholder="ex: 1.5">
                 </mat-form-field>
                 <mat-label>Number of Years:</mat-label>
                 <mat-form-field fxFlex appearance="fill" >
                     
                    <input type="text" name="years" id="years" required matInput formControlName="years" placeholder="ex: 20">
                 </mat-form-field>
                 <br>
                 <button type="submit" >Submit</button>
             </form>
         </mat-card-content>
     </mat-card>
    </div> -->
 
<div fxLayout="row wrap">
    <div fxFlex>
        <mat-card class="mat-elevation-z8 loan-card">
            <mat-card-title>Loan Calculator</mat-card-title>
            <br><br>
            <mat-card-title>Loan Amount:</mat-card-title>
            <mat-card-content>
                <form formGroup="loanData">
                    <mat-form-field>
                        <input type="text" name="amount" required id="amount" matInput formControlName="amount" placeholder="Ex: 10000">
                    </mat-form-field>
                    <mat-card-title>Interest Rate:</mat-card-title>
                    <mat-form-field>
                        <input type="text" name="interest" required id="interest" matInput formControlName="interest" placeholder="Ex: 1.5">
                    </mat-form-field>
                    <mat-card-title>Number of Years</mat-card-title>
                    <mat-form-field>
                        <input type="text" name="years" required id="years" matInput formControlName="years" placeholder="Ex: 20">
                    </mat-form-field>
                    <br><br>
                    <button mat-raised-button class="btn" type="submit" [disabled]="!loanData.valid" (click)="calcResults()">Submit</button>

                    <br><br><br>
                    <button mat-raised-button (click)="clearEntries()">Reset</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
    





    <div fxFlex>
     <mat-card class="mat-elevation-z8 loan-card">
         <mat-card-title>Your Loan Amount</mat-card-title>
         <br><br><br>
         <mat-card-content class="money">
            <app-payment [payment]="payment" style="font-size: 36px"></app-payment>
         </mat-card-content>
         <br><br><br><br>
         <mat-card-title>Interest Paid</mat-card-title>
         <br><br><br>
         <mat-card-content class="money">
            <app-interest [interest]="interest" style="font-size: 36px;">
         </mat-card-content>
         <br><br><br>
     </mat-card>
    </div>
 <!-- </div> -->
