<div fxLayout="row wrap" fxLayoutGap="20px">
   <div fxFlex>
    <mat-card class="mat-elevation-z8 loan-card">
        <mat-card-title>Loan Calculator</mat-card-title>
        <br><br>
        <mat-card-content>
            <form action="" fxLayout="column">
                <mat-label>Loan Amount</mat-label>
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Loan Amount</mat-label>
                    <input type="text" name="" id="" placeholder="ex: 10000">
                </mat-form-field>
                <mat-label>Interest Rate</mat-label>
                <mat-form-field fxFlex appearance="fill">
                    
                  <input type="text" name="" id="" placeholder="ex: 1.5">
                </mat-form-field>
                <mat-label>Number of Years</mat-label>
                <mat-form-field fxFlex appearance="fill" >
                    
                   <input type="text" name="" id="" placeholder="ex: 20">
                </mat-form-field>
                <button type="submit" >Submit</button>
            </form>
        </mat-card-content>
    </mat-card>
   </div>
  
   <div fxFlex>
    <mat-card class="mat-elevation-z8 loan-card">
        <mat-card-title>Your Loan Amount</mat-card-title>
        <mat-card-content>
            $$$$.$$
        </mat-card-content>
    </mat-card>
</div>
</div>

