<!--
    ========================================================================================================================
    ; Title: not-found.component.html
    ; Author: Brett Grashorn
    ; Bellevue University
    ; Date: 7/23/23
    ; Description: Capstone
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 6.3 Layouts
    Instruction - Assignment 6.4 Input Properties
    Instruction - Exercise 7.3 Form Validation
    Course GitHub
    ========================================================================================================================
-->

<div fxLayout="column">
    <mat-card
      fxFlex
      style="width: 50%; margin: auto; background-color: #1B5E20;"
      class="mat-elevation-z0 mat-card"
    >
      <div fxLayout="column">
        <em
          >
          <a
            href="https://openclipart.org/detail/308716/sad-snake"
            target="_blank"
            >Open Clipart</a
          >
        </em>
      </div>
      <mat-card-title fxLayout="row wrap" style="margin: auto;">
        <img src="./assets/snake-error.png" width="15%" alt="error 404"/>
      </mat-card-title>
  
      <mat-card-content
        fxLayout="row wrap"
        style="margin: auto;"
      >
        <button mat-raised-button routerLink="/" class="light-green" style="margin: auto;">
          Return Home
        </button>
      </mat-card-content>
    </mat-card>
  </div>
