<!--
    ========================================================================================================================
    ; Title: app.component.html
    ; Author: Brett Grashorn
    ; Bellevue University
    ; Date: 7/23/23
    ; Description: Capstone
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 6.3 Layouts
    Instruction - Assignment 6.4 Input Properties
    Instruction - Exercise 7.3 Form Validation
    Course GitHub
    ========================================================================================================================
-->

<mat-toolbar class="toolbar loan-card" color="primary" >
  <mat-toolbar-row>
    <div class="logo">
      <img src="./assets/slytherin.jpg" alt="Slytherin Logo" style="width: 5%; padding: 10px 5px 0;">
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="about">About</button>
      <button mat-button routerLink="contact-us">Contact Us</button>
      
    </div>

    <div style="width: 80%">
    <div fxLayout="row wrap" fxLayoutAlign="end start">
      
    </div>
  </div>
  </mat-toolbar-row>
</mat-toolbar>


<div fxLayout="row wrap" class="toolbar">
  <div fxFlex class="toolbar" >
    <mat-card class="main-container toolbar" style="text-align: center;">
      <mat-card-title style="font-size: 36px;" >
        {{ assignment }}
      </mat-card-title>

      <br><br>
    </mat-card>
  </div>
</div>
<br><br><br><br>
<router-outlet></router-outlet>